@import "~bootstrap/scss/bootstrap";
@import "theme";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
  margin: 1em;
  font-family: 'Montserrat', sans-serif !important;
  color: $theme-purple;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.bold {
  font-weight: bold;
}

.App {
  margin: 1em;

  &__subhed {
    font-size: 1em;
  }
}

.map {
  position: relative; 

  &__subhed {
    // font-weight: bold;
    font-size: .95em;
  }

  &__reset {
    position: absolute;
    bottom: 1%;
    right: 1%;
    background: $theme-blue !important;
    color: $text-light !important;

    &:hover {
      opacity: 0.75;
    }

    @media screen and (min-width: 800px) {
      bottom: 5%;
      right: 1%;
    }
  }
}

.summary {
  &__hed {
    margin: 0.5em 0;
    font-weight: bold;
    text-align: center;

    @media screen and (min-width: 600px) {
      margin-top: 0;
      text-align: left;
    }
  }

  &__intro {
    margin-top: .5em;

    @media screen and (min-width: 600px) {
      margin-top: 1em;
    }
  }

  &__footnote {
    font-size: 0.8rem;
  }
}


.tooltip {
  &__hed {
    font-size: 1.2em;
  }
}

.tooltip {
  &__text {
    margin-bottom: .25em;
  }
}

.legend {
  display: flex;
  margin-bottom: .25em;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    margin-bottom: .5em;  
  }

  &__categ {
    margin-right: .55em;
    display: flex;
    align-items: center;

    &--box {
      height: 10px;
      width: 20px;
      opacity: 1;
      border: 1px solide #fafafa;
    }
    &--text {
      font-size: .85em;
      margin-left: .3em;
    }
  }
}

.mapboxgl-map {
  font-family: 'Montserrat', sans-serif !important;
}

.details {
  margin: .5em 0;

  &__hed {
    font-size: 1.2rem;
  }

  &__note {
    font-size: .8em;
  }

  &__cred {
    margin-right: .4em;
    width: .8em;
    height: .8em;
    display: inline-block;
    border-radius: 50%;
    background-color: $cred;
    // vertical-align: middle;
  }
}

.source {
  &__type {
    &--shortcut {
      padding: .25em;
      background: $theme-blue;
      color: #fff;
      
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.spacer {
  height: 15px;
}

.button-filters {
  display: flex;
  flex-wrap: wrap;

  .filter-table-btn {
    margin-bottom: 10px;

    @media screen and (min-width: 500px) {
      margin-bottom: 0;
    }
  }
}

.table-filter {
  &__outlet {
    margin-top: .5em;
  }
}

.filter-table-btn {
  margin-right: .5em;
  background: $btn;
  color: $text-light;
  border: none;
  font-size: 0.8em;

  &:hover, &:focus {
    background: lighten($btn, 30);
    // color: darken($text-light, 70);
  }

  @media screen and (min-width: 500px) {
    font-size: 1em;
  }
}

.rdt_Table {
  font-size: 1.1em;

  .rdt_TableHead{
    font-size: .95em;
  }

  .rdt_TableRow {
    button[aria-disabled='true'] {
      display: none;
    }
  }

  .expanded {
    &__mission {
      font-size: .8em;
      margin-top: .5em;
    }
  }

  .outlet {
    &__cred {
      margin-left: 10px;
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 50%;
      background-color: $cred;
      vertical-align: middle;
    }
  }
}

